<html>
    <head>
        <title>Example usage of V2 DWT</title>
        <link rel="stylesheet" href="example/style.css">
    </head>
    <body>
        <h1>The design of this page uses the style.css file found inside the folder you choose in config.js for variable "static"</h1>
        <script src="example/script.js"></script>
    </body>
</html>